/* VARIABLES */

:root {
    --basic-white: #ffffff;
    --basic-white-dark: #F2F2F2;
    --basic-blue: #81B3D2;
    --basic-gray: #EEEEEE;
    --basic-gray-dark: #CACACA;
    --basic-brown: #766357;
    --basic-black-light: #333333;
    --basic-black: #000000;

    --special-white-extra-dark: #EBEBEB;

    --special-gray-light: #A9A9A9;
    --special-gray-dark: #6A6A6A;
    --special-gray-toggle: #ababab;

    --special-blue-dark: #669EC0;
    --special-blue-extra-dark: #8599a5;

    --special-brown-dark: #604E43;
    --special-brown-extra-dark: #503E33;

    --special-input-focus: #E5E5E5;

    --special-logo-htmla: #231f20;
    --special-logo-htmla-active: #bdbbbc; 
}

/* GLOBAL */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--basic-black);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    position: relative;
    max-width: 1200px;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    background-color: var(--basic-white);
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* NAVIGATION */

.header {
    background-color: var(--basic-white);
    padding-left: 72px;
    padding-right: 72px;
}

.nav {
    position: relative;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
}

.nav__list a {
    color: var(--basic-black);
}

.nav__item {
    width: 228px;
    padding-top: 14px;
    padding-bottom: 16px;
}

.nav__item:nth-child(2) {
    margin-right: 138px;
}

.nav__item--left {
    text-align: left;
}

.nav__item--right {
    text-align: right;
}

.nav__item--current a {
    color: var(--basic-brown);
}

.nav__list a:hover,
.nav-list a:focus {
    color: var(--basic-blue);
}

.nav__list a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.nav__logo {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -69px;
}



/* FOOTER */

.footer {
    padding-top: 23px;
    padding-bottom: 36px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--basic-white);
}

.footer--main {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
}

.footer__contacts {
    margin: 0;
    width: 251px;
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;

    display: flex;
    flex-direction: column;
}

.footer__contacts a {
    color: var(--basic-black);
}

.contacts__hashtag {
    margin-bottom: 9px;
}

.footer__socials {
    width: 150px;
}

.socials-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 6px;
}

.social-button {
    width: 46px;
    height: 48px;
    background-color: var(--basic-blue);
    color: inherit;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.social-button:hover {
    background-color: var(--special-blue-dark);
}

.social-button:active {
    background-color: var(--special-blue-extra-dark);
}

.social-button:active path {
    fill: rgba(255, 255, 255, 0.3);
}

.footer__copyright {
    width: 197px;
    font-size: 14px;
    line-height: 26px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright p {
    margin: 0;
}

.logo-htmla {
    width: 115px;
    height: 41px;
}

.logo-htmla path {
    fill: var(--special-logo-htmla);
}

.logo-htmla path:hover {
    fill: var(--basic-blue);
}

.logo-htmla path:active {
    fill: var(--special-logo-htmla-active);
}


/* MAIN INDEX */

.welcome {
    text-align: center;
    background-image: url("../img/background-photo.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 77px;
    padding-bottom: 80px;
}


/* Reasons */

.reasons {
    background-color: var(--basic-white);
}

.reasons__description {
    margin: 0 auto;
    width: 519px;
    padding-top: 41px;
    padding-bottom: 51px;
    text-align: center;
    background-color: var(--basic-white);
}

.reasons__header {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 48px;
}

.reasons__text {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

.reasons__list {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: var(--basic-gray);

    display: flex;
    flex-wrap: wrap;
}

.reasons__img {
    height: 256px;
}

.reasons__item h3 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
}

.reasons__item p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

.reasons__item .reason-number {
    margin-top: 25px;
    margin-bottom: 23px;
}

.first-reason,
.second-reason {
    padding-top: 47px;
    padding-bottom: 54px;
    width: 400px;
    height: 256px;
    color: var(--basic-white);
    background-color: var(--basic-blue);
}

.third-reason,
.fourth-reason,
.fifth-reason {
    padding-top: 47px;
    padding-bottom: 54px;
    width: 400px;
}


.reasons__item:first-child,
.reasons__item:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
}

.first-reason__list {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: var(--basic-white);
    display: flex;
}

.first-reason__list li {
    width: 400px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.first-reason__list li:first-child {
    background-image: url("../img/icon-home.svg");
    background-position: center 60px;
    background-repeat: no-repeat;
    padding: 0px;
    padding-top: 161px;
    padding-bottom: 85px;
}

.first-reason__list li:nth-child(2) {
    background-image: url("../img/icon-food.svg");
    background-position: center 62px;
    background-repeat: no-repeat;
    padding: 0px;
    padding-top: 164px;
    padding-bottom: 87px;
}

.first-reason__list li:last-child {
    background: url("../img/icon-gifts.svg");
    background-position: center 56px;
    background-repeat: no-repeat;
    padding: 0px;
    padding-top: 164px;
    padding-bottom: 86px;
}


/* Search */

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--basic-white);

    position: relative;
}

.search__description {
    width: 435px;
    padding-top: 58px;
    padding-bottom: 50px;
    background-color: var(--basic-white);
    text-align: center;
}

.search__header {
    margin: 0;
    margin-bottom: 38px;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
}

.search__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

/* Buttons */

.button {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    font-weight: 700;
    color: var(--basic-white);
    text-align: center;
    text-transform: uppercase;
}

.button--brown {
    background-color: var(--basic-brown);
}

.button--brown:hover,
.button--brown:focus {
    background-color: var(--special-brown-dark);
}

.button--brown:active {
    background-color: var(--special-brown-extra-dark);
    color: rgba(255, 255, 255, 0.3);
}

.button--blue {
    background-color: var(--basic-blue);
}

.button--blue:hover,
.button--blue:focus {
    background-color: var(--special-blue-dark);
}

.button--blue:active {
    background-color: var(--special-blue-extra-dark);
    color: rgba(255, 255, 255, 0.3);
}

.search__button {
    width: 568px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 21px;
    line-height: 26px;
}

.button--blue[type="submit"] {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 54px;
    font-size: 21px;
    line-height: 26px;

    display: block;
    width: 100%;
}

.hotel__buttons {
    display: grid;
    grid-template-columns: min-content min-content;
    column-gap: 6px;
}

.hotel__buttons .button {
    line-height: 21px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.hotel__buttons .button--blue {
    width: 110px;
}

.hotel__buttons .button--brown {
    width: 142px;
}

.calendar-button, 
.plus-button,
.minus-button {
    margin: 0;
    padding: 0;
    border: none;
}


/* Search form */

.search__form {
    width: 568px;
    padding: 55px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: var(--basic-white);
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);

    position: absolute;
    top: 311px;
}

.search__item {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.search__item:first-child {
    width: 458px;
    margin-bottom: 29px;
}

.search__item:nth-child(2) {
    width: 458px;
    margin-bottom: 30px;
}

.search__item:nth-child(3) {
    width: 224px;
}

.search__item:nth-child(4) {
    width: 177px;
}

.search__item input {
    background-color: var(--basic-white-dark);
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    color: var(--basic-black);
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

.search__item:first-child input,
.search__item:nth-child(2) input {
    width: 346px;
    padding-left: 13px;
}

.search__item:nth-child(3) input,
.search__item:nth-child(4) input {
    width: 114px;
}

.search__item input:hover {
    background-color: var(--special-white-extra-dark);
}

.search__item input:focus {
    outline: none;
    background-color: var(--basic-white);
    border: 2px solid var(--special-input-focus);
}

.calendar-button {
    position: absolute;
    top: 4px;
    right: 8px;
}

.calendar-img:hover path {
    fill: var(--basic-black);
}

.calendar-img:active path {
    fill: var(--basic-blue);
}

.search__item:nth-child(3) .minus-button {
    position: absolute;
    top: 7px;
    left: 125px;
}

.search__item:nth-child(3) .plus-button,
.search__item:nth-child(4) .plus-button {
    position: absolute;
    top: 11px;
    right: 10px;
}

.search__item:nth-child(4) .minus-button {
    position: absolute;
    top: 7px;
    left: 79px;
}

.plus-img:hover path,
.minus-img:hover rect {
    fill: var(--basic-black);
}

.plus-img:active path,
.minus-img:active rect {
    fill: var(--basic-blue);
    /* не работвет */
    border: none;
}

.search__item input::-moz-placeholder {
    color: var(--basic-black);
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.search__item input::-webkit-input-placeholder { 
    color: var(--basic-black);
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.search__item input:-ms-input-placeholder {  
    color: var(--basic-black);
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.search__item input::-ms-input-placeholder {  
    color: var(--basic-black);
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.search__item input::placeholder {
    color: var(--basic-black);
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

input[name="adults_number"],
input[name="children_number"] {
    text-align: center;
}


/* MAIN HOTELS */

/* Filter */

.filter__option {
    padding-top: 26px;
    padding-left: 73px;
    padding-bottom: 31px;
    padding-right: 72px;

    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    background-position: 100%, 100%;
}

.fieldset-container {
    display: flex;
    flex-wrap: wrap;
}

.option__form {
    position: relative;
}

.option__form fieldset {
    padding: 0;
    border: none;
    color: var(--basic-white);
}

.option__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.option__list li:first-child {
    margin-top: 24px;
}
.option__list li:not(:last-child) {
    margin-bottom: 23px;
}

.option__list input {
    margin-right: 16px;
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: absolute; */
}

.option__legend {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.option__form label {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;    
}

.first-option {
    width: 135px;
    margin: 0;
    margin-right: 119px;
}

.second-option {
    width: 135px;
    margin: 0;
    margin-right: 340px;
}

.third-option {
    width: 317px;
    align-self: start;
}

.range-filter {
    width: 317px;
    margin-top: 10px;
}

.price-controls {
    min-width: 100%;
    padding-top: 6px;
    padding-left: 52px;
    padding-right: 36px;
    padding-bottom: 8px;
    margin-bottom: 20px;
    border: 2px solid var(--basic-white);
    border-radius: 2px;

    position: relative;

    display: flex;
    justify-content: space-between;
}

.min-price {
    width: 58px;
    display: flex;
}

.max-price {
    width: 83px;
    display: flex;
}

.price-controls .border {
    position: absolute;
    top: 7px;
    left: 50%;
    width: 2px;
    height: 22px;
    background-color: var(--basic-white);
}

.price-controls input {
    margin: 0;
    margin-left: 5px;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: var(--basic-white);
    background: transparent;
    border: none;
}

.range-controls {
    position: relative;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: var(--basic-white);
}

.range-controls .toggle {
    position: absolute;
    top: -7px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--special-gray-toggle);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #ababab;
    cursor: pointer;
}

.range-controls .toggle--max {
    left: 248px;
}

.option__form button {
    width: 137px;
    padding-top: 7px;
    padding-bottom: 8px;
    background-color: transparent;
    color: var(--basic-white);
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    border: 2px solid var(--basic-white);
    border-radius: 2px;

    position: absolute;
    bottom: 0;
    right: 95px;
}

.option__form button:hover {
    background-color: var(--basic-white);
    color: var(--basic-black);
}

/* Sorting */

.sorting {
    padding-top: 29px;
    padding-right: 73px;
    padding-bottom: 31px;
    padding-left: 73px;
    background-color: var(--basic-white);

    display: flex;
}

.sorting__results {
    margin-right: 46px;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}

.sorting__values {
    width: 350px;
    font-size: 12px;
    line-height: 18px;
    margin-right: 503px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values__list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 235px;

    display: flex;
    justify-content: space-between;
}

.values__item a {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dashed #81B3D2;
}

.values__item--current a {
    color: var(--basic-blue);
    border-bottom: none;    
}

.sorting__pointers {
    width: 31px;
}

.pointer path {
    fill: var(--basic-gray-dark);
}

.pointer path:hover {
    fill: var(--basic-black);
}

.pointer path:active {
    fill: var(--basic-blue);
}

.pointer--current path {
    fill: var(--basic-blue);
}

/* Results */

.results {
    background-color: var(--basic-white);
}

.results__list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
}

.results__item:not(:nth-child(2)) {
    border-top: 1px solid var(--special-input-focus);
    border-bottom: 1px solid var(--special-input-focus);
}

.results__item {
    padding-top: 23px;
    padding-right: 72px;
    padding-bottom: 30px;
    padding-left: 73px;

    display: grid;
    grid-template-columns: min-content 1fr min-content;
    column-gap: 29px;
    align-items: end;
}

.hotel__photo {
    width: 135px;
    height: 90px;
}

.hotel__name {
    color: var(--basic-black);
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}

.hotel__name:hover {
    color: var(--basic-blue);
}

.hotel__name:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel__description {
    color: var(--basic-black-light);
    font-size: 14px;
    line-height: 21px;
    margin-top: 7px;
    margin-bottom: 15px;
    width: 180px;

    display: flex;
    justify-content: space-between;
}

.description__type,
.description__price {
    margin: 0;
}

.hotel__rating {
    width: 110px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hotel__rating p {
    margin: 0;
    background-color: var(--basic-white-dark);

    width: 100%;
}

.rating__star {   
    width: 18px;
    height: 17px;
    background-image: url("../img/star.svg");
    background-repeat: space;
    display: block;
    margin-bottom: 47px;
}

.rating__star--4 {
    width: 80px;
}

.rating__star--3 {
    width: 60px;
}

.rating__star--2 {
    width: 40px;
}
